* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ql-editor{
  min-height: 170px !important;
  max-height: 300px;
}
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-family: Quicksand, sans-serif;
  line-height: 2.0;
}